{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
{{ encore_entry_link_tags('actuality') }}
{% endblock %}

{% block title %}Actualités{% endblock %}

{% block body %}
<section class="actualityContainer">
	<h1 class="main-title">Les Actualités</h1>
	<hr class="custom-hr">
	{% for article in news %}
		{% if app.user %}
			<div class="article-button-container">
				{{ include('form/_editArticle.html.twig') }}
				{{ include('form/_deleteArticle.html.twig') }}
			</div>
		{% endif %}
		<div class="article-container">
			<div class="images-container">
				{% for image in article.images %}
					<a class="article-image" href="{{ vich_uploader_asset(image, 'urlFile') }}">
						<img class="actuality-img" src="{{ vich_uploader_asset(image, 'urlFile') }}" alt="{{ image.alternativeText }}" loading="lazy">
					</a>
				{% endfor %}
			</div>
			<div class="article-text-container">
				<h1 class="article-title">{{ article.title|capitalize }}</h1>
				<p>- {{ article.date|date("d/m/Y") }} -</p>
				<p class="article-description">{{ article.content|raw }}</p>
			</div>
		</div>
	{% endfor %}
</section>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('actuality') }}
{% endblock %}
